{% extends 'base.html.twig' %}

{% block title %}Back-Office{% endblock %}

{% block body %}
<body class="bg-dark text-white">                        
    <div class="col-md-10 col-lg-8 mx-auto text-center">
        <div class="row justify-content-center mb-5">
            <div class="col-lg-10">
                <div class="container mt-5">
                    <form method="post">
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}

                        {% if app.user %}
                            <div class="mb-3">
                                Vous êtes connecté en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
                            </div>
                        {% endif %}

                        
                        <h1 class="h3 mb-3 font-weight-normal"> Identifez vous :</h1>
                        <label for="inputPseudo">Pseudo</label>
                        <input type="text" value="{{ last_username }}" name="pseudo" id="inputPseudo" class="form-control" autocomplete="username" required autofocus>
                        <label class="mt-2" for="inputPassword">Password</label>
                        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                        <label><input class="mt-4" type="checkbox" name="_remember_me"> Se souvenir de moi </label>
                        <br>
                        <button class="mt-4 btn btn-lg btn-white" type="submit"> Connexion </button>
                        <a class="mt-4 me-2 btn btn-lg btn-white" href="{{ path('app_home') }}"> Retour </a>
                        <br>
                        <a class="text-white" href="{{ path('app_forgot_password_request') }}"> Mot de passe oublié </a>

                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}
